@using DemoLibrary2.Models
@model dynamic


@{
    ViewData["Title"] = "Index";
}

@{
    <h3>@Model.NorthAmericaCities</h3>
}
<table>

    @foreach (UrbanAreasModel.NorthAmericaUrbanAreas.UaItem city in Model.NorthAmericaCities)
    {
        <tr>
            <td>@city.name</td>
            <td>@city.href</td>
        </tr>
    }
</table>


<h2>Index</h2>
@*<h3><a href="@Model._links.continentlist.href">continents</a></h3>*@
<p>TELEPORT DATA</p>
