@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<h2>Teleport Scores</h2>

<form id="select-form" asp-controller="Teleport" asp-action="Index" method="post">
    <div class="mb-3">
        <label class="form-label">Continents</label>
        <select id="select-continent" class="form-select" onchange="this.form.submit()" asp-items="Model.ContinentsSelectList" asp-for="SelectedContinent">
            <option value="NOSELECTEDVALUE">Please Select A Continent</option>
        </select>
    </div>
</form>
