@using DemoLibrary2.Models
@model TeleportViewModel


    <div class="row">
        <div class="col-md-12"></div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Score</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Detroit</td>
                    <td>20</td>
                    <td>Hide yo kids, hide yo wife...</td>
                </tr>
                <tr>
                    <td>Chicago</td>
                    <td>1</td>
                    <td>Hide yo kids, hide yo wife...</td>
                </tr>
                <tr>
                    <td>Knoxville</td>
                    <td>20</td>
                    <td>Hide yo kids, hide yo wife...</td>
                </tr>
                <tr>
                    <td>Killadelphia</td>
                    <td>5</td>
                    <td>Hide yo kids, hide yo wife...</td>
                </tr>
            </tbody>
        </table>
    </div>
@*<table>
        @foreach (UrbanAreasModel.NorthAmericaUrbanAreas.UaItem city in Model.NorthAmericaCities)
        {
            <tr>
                <td>@city.name</td>
                <td>@city.href</td>
            </tr>
        }
</table>*@


